<!-- Form -->
<form name="jsonForm" class="jsonForm container-fluid" novalidate>

  <ng-form ng-repeat="item in schema | orderBy:'order'" ng-class="getClass(item)" name="{{item.name}}">
    <div class="form-group row has-feedback" ng-class="{ 'is-centered': item.type != 'textarea' }" ng-show="isVisible(item)">
      <!-- Label -->
      <label 
        ng-if="item.type != 'checkbox'"
        ng-class="{ 'text-muted' : isDisabled(item), 'col-sm-12': item.type == 'title', 'col-sm-4': item.type != 'title', 'has-options': item.type == 'password-show' || item.type == 'password-generate' }"
        >

        <!-- Title -->
        <h4 class="text-muted" ng-if="item.type == 'title'">{{item.label}}
          <i  class="fa fa-question-circle text-info" 
              ng-if="!!item.helpMessage" 
              popover="{{ item.helpMessage }}" 
              popover-trigger="mouseenter" 
              popover-placement="right" 
              popover-append-to-body="true">
          </i>
        </h4>

        <!-- Field label -->
        <span ng-if="item.type != 'title' && item.type != 'checkbox'" ng-class="{ 'required' : isRequired(item) }">{{item.label}}</span>

      </label>

      <!-- Field input -->
      <div class="col-sm-8" ng-if="item.type != 'title'" ng-class="{ 'col-sm-offset-4': item.type == 'checkbox' }">

        <!-- Text, Password and Number -->
        <div class="is-relative" ng-if="isInput(item)">          
          <input 

            type="{{ getType(item) }}" 
            class="form-control" 
            placeholder="{{ item.placeholder }}"
            
            popover="{{ item.helpMessage }}" 
            popover-trigger="focus" 
            popover-placement="right" 
            popover-append-to-body="true"

            validation-url="{{ item.validationUrl }}"

            typeahead="t for t in item.typeahead | filter:$viewValue | limitTo:8"

            ng-model="ngModel[item.name]" 
            ng-model-options="{ updateOn: item.updateOn, debounce: item.debounce }" 
            ng-focus="focus[item.name] = true; jsonForm[item.name].$setDirty();"
            ng-blur="focus[item.name] = false"

            ng-required="isRequired(item)"
            minlength="{{ item.minLength }}"
            maxlength="{{ item.maxLength }}"
            ng-min="{{ item.min }}"
            ng-max="{{ item.max }}"
            ng-pattern="item.pattern"
            ng-trim="true"

            ng-pattern="item.pattern" 
            ng-readonly="readOnly"
            ng-disabled="isDisabled(item)"

            tabindex="{{ $index + 1 }}"
          />

          <!-- Validation feedback -->
          <span 
            ng-if="item.feedback" 
            ng-show="!jsonForm[item.name].$pending && jsonForm[item.name].$valid && jsonForm[item.name].$dirty" 
            class="form-control-feedback text-muted"
            ><i class="fa fa-check"></i>
          </span>
          <span 
            ng-if="item.feedback" 
            ng-show="jsonForm[item.name].$pending && jsonForm[item.name].$dirty" 
            class="form-control-feedback text-muted"
          ><i class="fa fa-refresh fa-spin"></i></span>
          <span 
            ng-if="item.feedback" 
            ng-show="!jsonForm[item.name].$pending && jsonForm[item.name].$invalid && jsonForm[item.name].$dirty" 
            class="form-control-feedback text-muted"
          ><i class="fa fa-times"></i></span>

          <!-- Only for Passwords -->
          <div ng-if="item.type == 'password-show' || item.type == 'password-generate'" class="password-options">
            <div class="checkbox">
              <input type="checkbox" id="generate-password-{{item.name}}" ng-model="item.showPassword"/>
              <label for="generate-password-{{item.name}}">Show password</span></label>
            </div>
            <button class="btn btn-default" ng-click="generatePassword(item)" ng-if="item.type == 'password-generate'">Generate</button>
          </div>

        </div>

        <!-- Text Area -->
        <div ng-if="item.type == 'textarea'">
        <textarea

          class="form-control"
          rows = "{{ item.rows }}"
          minlength="{{ item.minLength }}"
          maxlength="{{ item.maxLength }}"

          ng-model="ngModel[item.name]" 
          ng-model-options="{ updateOn: 'blur' }" 
          ng-focus="focus[item.name] = true; jsonForm[item.name].$setDirty();"
          ng-blur="focus[item.name] = false"

          ng-required="isRequired(item)"
          ng-pattern="item.pattern"
          ng-trim="true"

          ng-pattern="item.pattern" 
          ng-readonly="readOnly"
          ng-disabled="isDisabled(item)"

          tabindex="{{ $index + 1 }}"

        ></textarea>
        </div>

        <!-- Checkbox -->
        <div ng-if="item.type == 'checkbox'" class="checkbox">
          <input 

            id="checkbox-{{item.name}}"
            ng-model="ngModel[item.name]"
            type="checkbox" 

            popover-on-focus="{{ item.helpMessage }}"
            popover-append-to-body="true" 
            popover-placement="right"

            tabindex="{{ $index + 1 }}"
          />
          <label for="checkbox-{{item.name}}">{{item.label}}</label>
        </div>

        <!-- Select -->
        <select 

          class="form-control" 
          
          ng-if="item.type == 'select'" 
          ng-model="ngModel[item.name]" 
          ng-options="key as value for (key, value) in item.options"
          
          popover-on-focus="{{ item.helpMessage }}"
          popover-append-to-body="true" 
          popover-placement="right"

          ng-required="isRequired(item)"
          ng-readonly="readOnly" 
          ng-disabled="isDisabled(item)"

          tabindex="{{ $index + 1 }}"

        >
        </select>

        <!-- Files -->
        <!-- already has file, we show the name and reset button -->
        <div class="input-group col-sm-12" ng-if="item.type == 'file' &&  hasFile(item)">
          <input type="text" class="form-control input" value="{{ getFileName(item) }}" disabled>
          <span class="input-group-btn">
            <button ng-click="resetFile(item)" class="btn btn-default pull-right" tabindex="{{ $index + 1 }}"><i class="fa fa-times"></i></button>
          </span>
        </div>
        <!-- user hasn't selected file yet -->
        <div class="input-group col-sm-12" ng-if="item.type === 'file' && !hasFile(item)">
          <input type="text" class="form-control input" value="{{ item.placeholder }}" disabled>
          <span class="input-group-btn">
            <div 

              class="btn btn-default pull-right" 
              accept="{{ item.accept }}" 
              type="file" 
              id="file-{{item.name}}" 

              ngf-select
              ng-model="files[item.name]"
              ngf-change = "onFileSelect(item, $files)"

              ng-required="isRequired(item)"
              ng-readonly="readOnly" 
              ng-disabled="isDisabled(item)"

              validation-file

              tabindex="{{ $index + 1 }}"

            ><i class="fa fa-upload"></i></div>
          </span>
        </div>

        <!-- Invalid input -->
        <p ng-show="!focus[item.name] && jsonForm[item.name].$dirty && jsonForm[item.name].$invalid && item.errorMessage != null" class="error-message" ng-class="isRequired(item) ? 'text-danger' : 'text-warning'">{{ getError(item) }}</p>
      </div>
    </div>
  </ng-form>
</form>